<h1>My Lists</h1>
<div class="cards">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.image_url %>)">
        <%= list.name %>
      </div>
    <% end %>
  <% end%>
</div>
<%= link_to "Create a movie list", "lists/new", class: "btn btn-flat" %>
