<div class="text-center banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.image_url %>);">
  <div class="container">
    <h1><%= @list.name.upcase %></h1>
    <div class="buttons">
      <%= link_to "Add Movies", new_list_bookmark_path(@list), class: "btn btn-ghost banner-button" %>
    </div>
  </div>
</div>
