<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.image_url %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>


<%= link_to "add a movie", "lists/new", class: "btn btn-flat" %>
